{% extends "base.html.twig" %}
{% block body %}
	<h1>
		Krysskort
	</h1>
	<div>
		<a href="{{ path('app_new_card') }}" class="button">Skapa nytt</a>
	</div>
	<ul>
		{% for card in cards %}
			<li>
				<div>
					<div>{{ card.name }}</div>
					<div>
						<a href="{{ path('app_cards_cards_show', {'card': card.id}) }}" class="arrow">Visa</a>
						<a href="{{ path('app_cards_cards_edit', {'card': card.id}) }}" class="arrow">Ändra</a>
						<a href="{{ path('app_cards_cards_delete', {'card': card.id}) }}" class="arrow">Radera</a>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}