{% extends 'base.html.twig' %}

{% block title %}Species{% endblock %}

{% block body %}
    <h1>Species</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ species.id }}</td>
            </tr>
            <tr>
                <th>TaxonomyId</th>
                <td>{{ species.TaxonomyId }}</td>
            </tr>
            <tr>
                <th>ScientificName</th>
                <td>{{ species.ScientificName }}</td>
            </tr>
            <tr>
                <th>VernacularName</th>
                <td>{{ species.VernacularName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_taxon_species_index') }}">back to list</a>

    <a href="{{ path('app_taxon_species_edit', {'id': species.id}) }}">edit</a>

    {{ include('taxon/species/_delete_form.html.twig') }}
{% endblock %}
