{% extends 'base.html.twig' %}

{% block title %}Spanlista{% endblock %}

{% block body %}
	<h1>Skådningar</h1>

	<ul>
		{% for sighting in sightings %}
			<li class="">
				<div>
					<div class="sighting">
						<span>{{ sighting.species.fullName }}</span>
						<span>{{ sighting.location }}</span>
						<span>{{ sighting.dateTime|date('Y-m-d') }}</span>
						<span>{{ sighting.comment }}</span>
					</div>

					<div class="links">
						<a href="{{ path('app_sighting_show', {'id': sighting.id}) }}">Visa</a>
						{% if sighting.user == app.user %}

							<a href="{{ path('app_sighting_edit', {'id': sighting.id}) }}">Registera</a>
						{% endif %}
					</div>
				</div>
			</li>
		{% else %}
			<h2>no records found</h2>
		{% endfor %}
	</ul>
	<a href="{{ path('app_sighting_new') }}">Registrera nytt</a>
{% endblock %}
