{% extends 'base.html.twig' %}

{% block title %}Sighting{% endblock %}

{% block body %}
	<h1>Glutt</h1>
	<br>
	<a href="{{ path('app_sighting_index', {'p':0}) }}" class="arrow">Till listan</a>
	{% if sighting.user == app.user %}
		<a href="{{ path('app_sighting_edit', {'id': sighting.id}) }}" class="button small">Redigera</a>
		<a href="{{ path('app_sighting_delete', {'id': sighting.id}) }}" class="button small">Radera</a>
	{% endif %}

	<hr>

	<h3><small>Art: </small>{{ sighting.species }}</h3>
	<h3><small>Tid: </small>{{ sighting.dateTime|date('Y-m-d H:i') }}</h3>
	<h3><small>Plats: </small>{{ sighting.location }}</h3>
	<h3><small>Kommentar: </small>{{ sighting.comment }}</h3>
	<h3><small>Reggat av: </small>{{ sighting.user }}</h3>

	<section class="species-data col-2">
		{{ species|raw }}
	</section>

{% endblock %}
