{% extends 'base.html.twig' %}
{% block body %}
	{% include 'Partials/filters.html.twig' %}
	<ul>
		{% for taxon in species %}
			<li>
				<div class="species">
					<div><h4>{{ taxon.VernacularName }}</h4>
						<small>Svensk förekomst: {{ taxon.SwedishProminence }}</small></div>
					<div>
						<a href="{{ path('app_sighting_new', {'species': taxon.id}) }}" class="arrow">Registrera
							glutt</a>
						<a href="{{ path('app_species', {'species': taxon.id}) }}" class="arrow">Visa art</a>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>

	{% if p > 0 %}
		<a href="{{ path('app_taxon_species_list', {'p': p - 1,'search' : search, 'swedish': swedish}) }}">Förgående
			sida</a>
	{% endif %}
	<a href="{{ path('app_taxon_species_list', {'p': p +1, 'search' : search, 'swedish': swedish}) }}">Nästa sida</a>

{% endblock %}